{
    "charts": {
        "major_browsers_dev_count": {
            "chart_title": "\"major browsers\" active dev counts",
            "chart_series": [
                { "repo": "mozilla-central", "metric": "active_authors_60days", "color": "green" },
                { "repo": "chromium/src", "metric": "active_authors_60days", "color": "blue" },
            ],
            "annotations": [ "browser_dates" ],
        },
        "major_browsers_commit_rate": {
            "chart_title": "\"major browsers\" commit rate",
            "chart_series": [
                { "repo": "mozilla-central", "metric": "commit_count_60days", "color": "green" },
                { "repo": "chromium/src", "metric": "commit_count_60days", "color": "blue" },
            ]
        },
    },
    "annotation_sets": {
        "browser_dates": {
            "1998-11-04": "KHTML created",
            "2001-10-01": "IE 6.0",
            "2002-09-23": "Firefox initial release",
            "2003-01-07": "Apple forks KHTML, creating WebKit",
            "2004-11-09": "Firefox 1.0",
            "2008-09-02": "The first Google Chrome beta is released.",
            "2010-01-28": "First release of Firefox for Mobile (Fennec) on Nokia N900",
            "2011-03-29": "First release of Firefox for Mobile (Fennec) for Android",
            "2012-02-07": "Google announces Chrome for Android",
            "2013-04-03": "Google WebKit, creating Blink",
        }
    },
    "git_repos": {
        "mozilla-central": {
            "git_url": "https://github.com/mozilla/gecko-dev.git",
            "tick_gap_days": 7,
        },
        "chromium/src": {
            "git_url": "https://chromium.googlesource.com/chromium/src",
            "tick_gap_days": 7,
        },
    },
    "metrics": {
        "active_authors_60days": {
            "cmd": "git-log-robust-since-alt $((%(timestamp)s-60*60*60*24)) %(sha1)s | cut -f 3 -d ' ' | cut -f 1 -d @ | sort | uniq | wc -l",
            "title": "active authors last 60 days",
            "workdir": False,
        },
        "commit_count_60days": {
            "cmd": "git-log-robust-since $((%(timestamp)s-60*60*60*24)) %(sha1)s | wc -l",
            "title": "commit count last 60 days",
            "workdir": False,
        },
    },
}
